/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #c6a1d2; /* Lilás suave */
    color: white;
    text-align: center;
    padding: 1rem 0;
  }
  
  header h1 {
    margin: 0;
  }
  
  main {
    padding: 2rem;
  }
  
  .intro {
    background-color: #e7d8eb; /* Tom de lilás mais claro */
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
  }
  
  .intro h2 {
    color: #9b5ec1; /* Lilás vibrante */
  }
  
  .intro-text p {
    color: #666;
  }
  
  .profile-main {
    text-align: center;
  }
  
  .profile-main img {
    max-width: 100%;
    border-radius: 50%;
  }
  
  .profile-main h2 {
    margin: 0.5rem 0;
  }
  
  .inspiring-women {
    margin-top: 2rem;
  }
  
  .inspiring-women h2 {
    text-align: center;
    color: #9b5ec1; /* Lilás vibrante */
  }
  
  .profile {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    background-color: #e7d8eb; /* Tom de lilás mais claro */
    border-radius: 10px;
    padding: 1rem;
  }
  
  .profile-img {
    flex: 1;
    max-width: 250px; /* Defina o tamanho máximo que desejar */
  }
  
  .profile-img img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .profile-info {
    flex: 2;
    padding-left: 1rem;
  }
  
  .profile h3 {
    margin: 0.5rem 0;
    color: #9b5ec1; /* Lilás vibrante */
  }
  
  .profile p {
    margin: 0;
    color: #666;
  }